<div class="row mb-3">
    <div class="col-8">
        <h1>Escolas</h1>
    </div>
    <div class="col">
        <button class="btn btn-primary" (click)="onOpenSchoolFormModal()">Nova</button>
    </div>
</div>

<div class="spinner-border text-primary" role="status" *ngIf="isLoading">
    <span class="visually-hidden">Loading...</span>
</div>

<div class="alert alert-danger" role="alert" *ngIf="errMsg">
    {{ errMsg }}
 </div>

<table class="table" *ngIf="!isLoading">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Seguimento</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let school of schools">
            <th scope="row">{{ school.id }}</th>
            <td>{{ school.name }}</td>
            <td>{{ school.segment }}</td>
            <td>
                <button class="btn btn-primary" (click)="onOpenSchoolFormModal(school)">Editar</button>
            </td>
        </tr>
    </tbody>
</table>